<nav class="navbar navbar-expand-sm py-0 navbar-custom navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon custom-toggler"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/articles"><i class="fa fa-home mr-2"></i>Artikel Übersicht</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="articles/create"><i class="fa fa-gift mr-2"></i>Neuen Artikel erfassen</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      <ng-template [ngIf]="!userService.isAuthenticated">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="users/register"><i class="fa fa-user-plus mr-2"></i>Registrieren</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="users/login"><i class="fa fa-sign-in mr-2"></i>Anmelden</a>
        </li>
      </ng-template>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a *ngIf="userService.isAuthenticated" class="nav-link" routerLink="/users"><i class="fa fa-user mr-2" aria-hidden="true"></i>Benutzerverwaltung</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="userService.isAuthenticated" class="nav-link" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Abmelden</a>
      </li>
    </ul>

  </div>
</nav>

<div *ngIf="currentUrl.startsWith('/users')">
  <app-user-navbar></app-user-navbar>
</div>
