<nav class="navbar navbar-expand-sm py-0 navbar-custom navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon custom-toggler"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/articles"><i class="fa fa-home mr-2"></i>Artikel Übersicht</a>
      </li>
      <li *ngIf="authService.isAuthenticated && authService.canCreateOwnArticle" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="articles/create"><i class="fa fa-plus mr-2"></i>Artikel erfassen</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">

      <ng-template [ngIf]="authService.canReadUserSettings">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <a *ngIf="authService.isAuthenticated" class="nav-link" routerLink="/users"><i class="fa fa-user mr-2" aria-hidden="true"></i>Benutzer</a>
        </li>
      </ng-template>
      <ng-template [ngIf]="authService.canReadPermissionSettings">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <a *ngIf="authService.isAuthenticated" class="nav-link" routerLink="/permissions"><i class="fa fa-address-card-o mr-2" aria-hidden="true"></i>Berechtigungen</a>
        </li>
      </ng-template>

      <ng-template [ngIf]="!authService.isAuthenticated">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="users/register"><i class="fa fa-user-plus mr-2"></i>Registrieren</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="users/login"><i class="fa fa-sign-in mr-2"></i>Anmelden</a>
        </li>
      </ng-template>

      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="authService.isAuthenticated" class="nav-link" (click)="logout()"
           title="{{authService.currentUser ? authService.currentUser.fullname
           + ' | ' + authService.currentUser.permission.name : ''}}"><i class="fa fa-sign-out mr-2"></i>Abmelden</a>
      </li>
    </ul>

  </div>
</nav>

