<div class=" col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
  <h3>Registrieren</h3>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">Vorname</label>
      <input required type="text" class="form-control" id="firstname"
             name="firstname" [(ngModel)]="user.firstname" #firstname="ngModel" autocomplete="given-name"/>
      <div class="alert alert-danger" [hidden]="firstname.valid || firstname.pristine">Der Vorname ist ein Pflichtfeld</div>
    </div>

    <div class="form-group">
      <label for="lastname">Nachname</label>
      <input required type="text" class="form-control" id="lastname"
             name="lastname" [(ngModel)]="user.lastname" #lastname="ngModel" autocomplete="family-name"/>
      <div class="alert alert-danger" [hidden]="lastname.valid || lastname.pristine">Der Nachname ist ein Pflichtfeld</div>
    </div>

    <div class="form-group">
      <label for="email">E-Mail</label>
      <input required email type="email" class="form-control" id="email"
             name="email" [(ngModel)]="user.email" #email="ngModel" autocomplete="email"/>
      <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Das E-Mail ist ungültig.</div>
    </div>

    <div class="form-group">
      <label for="password">Passwort</label>
      <input required type="password" class="form-control" id="password"
             name="password" [(ngModel)]="user.password" #password="ngModel" autocomplete="off"/>
      <div class="alert alert-danger" [hidden]="password.valid || password.pristine">Das Passwort ist ein Pflichtfeld</div>
    </div>

    <div class="form-group mt-5">
      <button [disabled]="!registerForm.form.valid" class="btn btn-primary mr-3">Registrieren</button>
      <a [routerLink]="['/login']" class="btn btn-outline-primary">Abbrechen</a>
    </div>

  </form>
</div>
