<h3 class="card-title">Berechtigungen</h3>

<div class="row">
  <div class="col-lg-6">

    <div class="card p-3 border border-secondary mat-elevation-z8">
      <div class="card-header align-middle">
        <h5>Berechtigungs - Übersicht</h5>
      </div>

      <mat-form-field class="mt-2">
        <input matInput placeholder="Berechtigung suchen" #filterInput>
      </mat-form-field>

      <div class="spinner-container" *ngIf="permissionSvc.dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="permissionSvc.dataSource" class="table table-hover mat-elevation-z8"
               matSort matSortDisableClear>
          <caption>List of permissions</caption>

          <ng-container matColumnDef="_id">
            <th *matHeaderCellDef>id</th>
            <td *matCellDef="let permission">
              <label title="{{permission._id}}"><i class="fa fa-info" aria-hidden="true"></i></label>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-sort-header>Bezeichnung</th>
            <td *matCellDef="let permission">{{permission.name}}</td>
          </ng-container>

          <ng-container matColumnDef="isPredefined">
            <th *matHeaderCellDef mat-sort-header>Vordefiniert</th>
            <td *matCellDef="let permission">
              <input disabled type="checkbox" [(ngModel)]="permission.isPredefined"/>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="permissionSvc.displayedColumns" class="thead-light"></tr>

          <tr mat-row *matRowDef="let row; columns: permissionSvc.displayedColumns" (click)="onRowClicked(row)"
              [ngClass] = "{'highlight' : (permissionSvc.selectedPermission ? permissionSvc.selectedPermission._id == row._id: false)}"></tr>

        </table>
      </div>

      <mat-paginator [length]="permissionSvc.permissionFilter.total"
                     [pageSize]="permissionSvc.permissionFilter.limit"
                     [pageSizeOptions]="permissionSvc.permissionFilter.pageSizeOptions"
                     showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>

  <div class="col-lg-6">

    <app-permission-item [selectedPermission]="permissionSvc.selectedPermission" (dataChanged)="onDataChanged($event)"></app-permission-item>

  </div>

</div>

