<nav class="navbar navbar-expand-sm py-0 navbar-light navbar-custom sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUserManagement" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon custom-toggler"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarUserManagement">

    <ul class="navbar-nav mr-auto">
      <ng-template [ngIf]="userService.isAuthenticated">
        <li class="nav-item mr-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/users"><i class="fa fa-user mr-2" aria-hidden="true"></i>Benutzer Übersicht</a>
        </li>
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link" routerLink="users/create"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Benutzer hinzufügen</a>
        </li>
        <li class="nav-item mr-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="users/roles"><i class="fa fa-address-card-o mr-2" aria-hidden="true"></i>Rollen Übersicht</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="users/roles/create"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Rollen hinzufügen</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
