<div class="card p-3 border border-secondary mat-elevation-z8">

  <div class="card-header">
    <h5>Benutzer Details</h5>
  </div>

  <div class="mt-3">
    <button (click)="onEditUser()" [disabled]="!userService.canUpdateUser() || !editingUser || ! editingUser._id" class="btn btn-sm btn-primary crud-button mr-3 mb-2" title="Bearbeiten">
      <i class="fa fa-pencil mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Bearbeiten</span></button>

    <button (click)="onAddUser()" [disabled]="!userService.canCreateUser()" class="btn btn-sm btn-success crud-button mr-3 mb-2" title="Benutzer hinzufügen">
      <i class="fa fa-plus mx-3 mx-sm-1"></i><span class="d-none d-sm-inline-block">Neu</span></button>

    <button (click)="onDeleteUser()" [disabled]="!userService.canDeleteUser() || !editingUser || ! editingUser._id" class="btn btn-sm btn-danger crud-button mr-3 mr-md-5 mb-2" title="Benutzer entfernen">
      <i class="fa fa-trash mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Entfernen</span></button>

    <button (click)="onSaveUser()" [disabled]="!userService.canSaveUser() || !userForm.form.valid || userForm.form.pristine"  class="btn btn-sm btn-dark crud-button mr-3 mb-2" title="Speichern">
      <i class="fa fa-floppy-o mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Speichern</span></button>

    <button (click)="onCancelEdit()" [disabled]="editMode === EditModeType.Read" class="btn btn-sm btn-secondary crud-button mr-3 mb-2" title="Änderungen verwerfen">
      <i class="fa fa-times mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Abbrechen</span></button>
  </div>

  <hr>

  <div class="card-body p-0">

  <form #userForm="ngForm" class="p-2" autocomplete="off">

      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Vorname</label>
        <div class="col-sm-8">
          <input required type="text" class="form-control form-control-sm" id="firstname" placeholder="Vorname" [readonly]="editMode === EditModeType.Read"
                 name="firstname" [(ngModel)]="editingUser.firstname" #firstname="ngModel" autocomplete="given-name"/>
          <div class="alert alert-danger" [hidden]="firstname.valid || firstname.pristine">Der Vorname ist ein Pflichtfeld</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lastname" class="col-sm-4 col-form-label">Nachname</label>
        <div class="col-sm-8">
          <input required type="text" class="form-control form-control-sm" id="lastname" placeholder="Nachname" [readonly]="editMode === EditModeType.Read"
                 name="lastname" [(ngModel)]="editingUser.lastname" #lastname="ngModel" autocomplete="family-name"/>
          <div class="alert alert-danger" [hidden]="lastname.valid || lastname.pristine">Der Nachname ist ein Pflichtfeld</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">E-Mail</label>
        <div class="col-sm-8">
          <input required email type="email" class="form-control form-control-sm" id="email" placeholder="E-Mail" [readonly]="editMode === EditModeType.Read"
                 name="email" [(ngModel)]="editingUser.email" #email="ngModel" autocomplete="email"/>
          <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Das E-Mail ist ungültig.</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label">Passwort</label>
        <div class="col-sm-8">
          <input required type="password" class="form-control form-control-sm" id="password" placeholder="Passwort" [readonly]="editMode === EditModeType.Read"
                 name="password" [(ngModel)]="editingUser.password" #password="ngModel" autocomplete="off"/>
          <div class="alert alert-danger" [hidden]="password.valid || password.pristine">Das Passwort ist ein Pflichtfeld</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="role" class="col-sm-4 col-form-label">Berechtigung</label>
        <div class="col-sm-8">
          <select id="role" name="role" [(ngModel)]="editingUser.permission" class="form-control form-control-sm" [disabled]="!userService.canUpdatePermission() || editMode === EditModeType.Read">
            <option *ngFor="let permissionEntry of permissions"
                    [ngValue]="permissionEntry">{{permissionEntry.name}}
            </option>
          </select>
        </div>
      </div>

    <div class="form-group row mb-0">
      <label for="createdAt" class="col-sm-4 col-form-label mt-3">createdAt</label>
      <div class="col-sm-8 mt-3">
        <input readonly required type="text" class="form-control-plaintext form-control-sm" id="createdAt"
               value="{{editingUser.createdAt | date:'dd.MM.yyyy  HH:mm:ss'}}"/>
      </div>
    </div>

    <div class="form-group row mb-0">
      <label for="updatedAt" class="col-sm-4 col-form-label">updatedAt</label>
      <div class="col-sm-8">
        <input readonly required type="text" class="form-control-plaintext form-control-sm" id="updatedAt"
               value="{{editingUser.updatedAt | date:'dd.MM.yyyy  HH:mm:ss'}}"/>
      </div>
    </div>

      <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Id</label>
        <div class="col-sm-8">
          <input readonly required type="text" class="form-control-plaintext form-control-sm" id="id"
                 value="{{editingUser._id}}"/>
        </div>
      </div>

    <p>Debug info</p>
    <p>EditMode: {{ editMode }}</p>

    <p>userForm.form.pristine: {{ userForm.form.pristine }}</p>
    <p>userForm.form.valid: {{ userForm.form.valid }}</p>

  </form>

  </div>

</div>

