  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="p-0 mt-3">
  <div class="mb-3">
    <span *ngIf="editMode !== editModeEnum.READ">
    <button type="submit" [disabled]="articleForm.pristine" class="btn btn-success">Speichern</button> &nbsp;
      <button type="button" [disabled]="articleForm.pristine" class="btn btn-secondary mr-2"
              (click)="onRevert()">Änderungen verwerfen</button>
    </span>
    <button type="button" class="btn btn-primary" (click)="onGoBack()">Zurück</button>

  </div>

  <div class="card">
    <h5 class="card-header">Artikel</h5>
    <div class="card-body">

      <div class="form-row">
        <div class="col-sm">
          <div class="form-group">
            <label for="selectArticleCategory">Kategorie:</label>
            <select id="selectArticleCategory" class="form-control" formControlName="category">
              <option *ngFor="let categoryEntry of articleCategories"
                      [ngValue]="categoryEntry">{{categoryEntry.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="selectArticleStatus">Status:</label>
            <select id="selectArticleStatus" class="form-control" formControlName="status">
              <option *ngFor="let articleStatusEntry of articleStatus"
                      [ngValue]="articleStatusEntry">{{articleStatusEntry.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputName">Artikel Bezeichnung:</label>
        <input id="inputName" required type="text" class="form-control" formControlName="name">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Die Artikel Bezeichnung muss eingegeben werden.</div>
      </div>

      <div class="form-group">
        <label for="textareaDescription">Beschreibung:</label>
        <textarea id="textareaDescription" required rows="4" class="form-control" formControlName="description"
                  placeholder="Detailinformationen zum Artikel, dessen Zustand, weshalb dieser verschenkt werden soll, etc."></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Die Beschreibung muss eingegeben werden.</div>
      </div>

      <div class="form-group">
        <label for="textareaHandover">Übergabe:</label>
        <textarea id="textareaHandover" required rows="4" class="form-control" formControlName="handover"
                  placeholder="Wie soll die Übergabe erfolgen ?"></textarea>
        <div [hidden]="handover.valid || handover.pristine" class="alert alert-danger">Die Übergabe muss beschrieben werden.</div>
      </div>

      <div class="form-group">
        <label for="inputPictureOverview">Artikel Übersichts Bild (URL):</label>
        <input id="inputPictureOverview" type="text" class="form-control" formControlName="pictureOverview"
               placeholder="Bild Url (Link) für die Artikel-Übersichts Seite.">
      </div>

      <div formArrayName="pictures">
        <label>Weitere Bilder (URL)</label><br/>
        <div class="form-group" *ngFor="let picture of pictures.controls; let i = index">
          <div class="input-group">
            <input type="url" required class="form-control" [formControlName]="i">
            <button type="button" class="btn btn-default pull-right" title="Eintrag löschen" (click)="onDeletePicture(i)"><i class="fa fa-trash fa-lg"></i></button>
          </div>
        </div>
        <button type="button" class="btn btn-info mb-3" (click)="onAddPicture()">
          <i class="fa fa-image mr-3"></i>Bild Url hinzufügen
        </button>
      </div>

      <div formArrayName="videos">
        <label>Videos (URL)</label><br/>
        <div class="form-group" *ngFor="let video of videos.controls; let i = index">
          <div class="input-group">
            <input type="url" required class="form-control" [formControlName]="i">
            <button type="button" class="btn btn-default pull-right" title="Eintrag löschen" (click)="onDeleteVideo(i)"><i class="fa fa-trash fa-lg"></i></button>
          </div>
        </div>
        <button type="button" class="btn btn-info mb-3" (click)="onAddVideo()">
          <i class="fa fa-video-camera mr-3"></i>Video Url hinzufügen
        </button>
      </div>

      <div class="form-group">
        <label for="inputTags">Suchbegriffe:</label>
        <input id="inputTags" type="text" class="form-control" formControlName="tags">
      </div>

    </div>
  </div><br>

  <div class="card">
    <h5 class="card-header">Schenkung</h5>
    <div class="card-body">

    <div class="form-row">
      <div class="col">
        <div formGroupName="donee">
          <div class="form-group">
            <label for="inputDonee">Verschenkt an:</label>
            <input id="inputDonee" readonly class="form-control" placeholder="{{ articleForm.get('donee.firstname').value }} {{ articleForm.get('donee.lastname').value }}">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="inputDonationDate">Schenkungs Datum:</label>
          <input id="inputDonationDate" readonly class="form-control" placeholder="{{ articleForm.get('donationDate').value | date:'dd.MM.yyyy' }}">
        </div>

      </div>
    </div>

    </div>
  </div><br>

  <div class="card">
    <h5 class="card-header">Publikation</h5>
    <div class="card-body">

      <div class="form-row">
        <div class="col">
          <div formGroupName="publisher">
            <div class="form-group">
              <label for="inputPublisher">Publiziert von:</label>
              <input id="inputPublisher" readonly class="form-control" placeholder="{{ articleForm.get('publisher.firstname').value }} {{ articleForm.get('publisher.lastname').value }}">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="inputCreatedAt">Erfasst am:</label>
              <input id="inputCreatedAt" readonly class="form-control"
                     placeholder="{{ articleForm.get('createdAt').value | date:'dd.MM.yyyy  HH:mm:ss' }}">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="input_id">Id:</label>
            <input id="input_id" readonly class="form-control" placeholder="{{ articleForm.get('_id').value}}">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="inputUpdatedAt">Aktualisiert am:</label>
            <input id="inputUpdatedAt" readonly class="form-control" placeholder="{{ articleForm.get('updatedAt').value | date:'dd.MM.yyyy  HH:mm:ss' }}">
          </div>
        </div>
      </div>

    </div>
  </div>
</form>
<!-- Debug messages -->
<hr>
<p>Debug Infos:<p>
<p>Form value: {{ articleForm.value | json }}<p>
<p>Form status: {{ articleForm.status | json }}</p>
<p>EditMode: {{ editMode }}</p>

