
<h2>Test 1</h2>
<div>
  <label>Artikel name:
    <input #articleName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(articleName.value); articleName.value=''">
    Hinzufügen
  </button>
</div>
<ul class="articles">
  <li *ngFor="let article of articles">
    <a routerLink="/test1Detail/{{ article._id }}">
      <span class="badge">{{ article.id }}</span> {{ article.name }}
    </a>
    <button class="delete" title="Artikel löschen"
            (click)="delete(article)">x</button>
  </li>
</ul>

