<h3>Artikel Details</h3>
<button type="button" class="btn btn-primary" (click)="onGoBack()">Zurück</button>
<div class="card">
  <div class="row">
    <div class="col-md-6">

      <div class="card">
        <div class="card-header">
          Artikelbezeichnung
        </div>
        <div class="card-body">
          Bild(Video
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Reservation
        </div>
        <div class="card-body">
          Textbox / Button
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="card">
        <div class="card-header">
          Artikel Beschreibung
        </div>
        <div class="card-body">
          Text
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Zustand
        </div>
        <div class="card-body">
          Text
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Übergabe
        </div>
        <div class="card-body">
          Text
        </div>
      </div>



    </div>

  </div>

</div>
