/* Theme 01 */

@import 'variables';

/* Bootstrap maps. */
/*-------------------------*/
/*
$theme-colors: (
  "primary": #84329b,
  "secondary": #02bceb
);
*/


/* Bootstrap variables. */
/*-------------------------*/

$navbar-dark-color: rgba(255,255,255,.6);
$navbar-dark-hover-color: rgba(255,255,255,.90);


/* Bootstrap components */
.card {
  // background-color: $gia-card-bg-color;
}

.card-header {
  background-color: $gia-card-header-bg-color;
  padding: 5px 10px;
  font-weight: bold;
}


/* Other styles. */
/*-------------------------*/

// Forms
form {
  padding: 2rem;
  //background-color: $gia-bg-color;
}

.cursor-pointer {
  cursor: pointer;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $gia-valid-color; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid $gia-invalid-color; /* red */
}

// @import url('https://fonts.googleapis.com/css?family=Lobster');
@font-face {
  font-display: swap;
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v9/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.gia-header {
  font-family: 'Dancing Script';
  font-weight: bold;
}

.angular-table {
  width: 100%;
  border: 1px solid #2C3E50;

  th {
    padding: 10px 10px;
    vertical-align: middle !important;
  }

  tr {
    height: auto !important;
    &.highlight {
      background-color: #C3F3C3 !important;
    }
  }

  td {
    padding: 0px 10px;
    vertical-align: middle;
  }
}
