/* Bootstrap Theme 01 */


/* Bootstrap maps. */
/*-------------------------*/
/*
$theme-colors: (
  "primary": #84329b,
  "secondary": #02bceb
);
*/


/* Bootstrap variables. */
/*-------------------------*/

$navbar-dark-color: rgba(255,255,255,.6);
$navbar-dark-hover-color: rgba(255,255,255,.90);

