/* Colors */

$gia-bg-color: #eee; // Background color for forms and other components.

$gia-card-bg-color: #f4f4f4;
$gia-card-header-bg-color: #BBD8DC;

$gia-valid-color: #42A948; /* green */
$gia-invalid-color: #a94442; /* red */



/* Mixins */
