<nav class="navbar navbar-expand-sm py-0 navbar-custom navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon custom-toggler"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/articles"><i class="fa fa-home mr-2"></i>Artikel Übersicht</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="articles/create"><i class="fa fa-gift mr-2"></i>Artikel verschenken</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="articles/5aaf89d64afc2721c068bfb4/edit"><i class="fa fa-gift mr-2"></i>Test Artikel editieren</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard">Tutorial-Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/test1">Testseite 1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/test1Detail/5a895e91524e732538104425">Testseite 1 - Details</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/register"><i class="fa fa-user-plus mr-2"></i>Registrieren</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in mr-2"></i>Anmelden</a>
      </li>
    </ul>

  </div>
</nav>
