<h3 class="card-title">Artikel Übersicht</h3>
<div class="card">
  <form class="form pt-3 pb-2 pr-2" #searchForm="ngForm" style="border: 3px solid #cfd8dc">
    <div class="form-row">

      <div class="col-md-4 mr-2 mr-md-3">
        <div class="form-row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="articleCategory"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span>
            </div>
            <select class="form-control form-control-sm" [(ngModel)]="articleFilter.category" name="articleCategory" (change)="onSetFilter()" aria-label="articleCategory" aria-describedby="articleCategory">
              <option *ngFor="let categoryEntry of articleCategories"
                      [ngValue]="categoryEntry">{{categoryEntry.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-4 mr-2 mr-md-3">
        <div class="form-row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="articleStatusEntry"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
            </div>
          <select class="form-control form-control-sm" [(ngModel)]="articleFilter.status" name="articleStatusEntry"  (change)="onSetFilter()"  aria-label="articleStatusEntry" aria-describedby="articleStatusEntry">
            <option *ngFor="let statusEntry of articleStatus"
                    [ngValue]="statusEntry">{{statusEntry.name}}
            </option>
          </select>
          </div>
        </div>
      </div>

      <div class="col-md-3 mr-2 mr-md-3">
        <div class="form-row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="sortOption"><i class="fa fa-sort-alpha-asc mr-1" aria-hidden="true"></i></span>
            </div>
            <select class="form-control form-control-sm" [(ngModel)]="articleFilter.sort" name="sortOption"  (change)="onSetFilter()" aria-label="sortOption" aria-describedby="sortOption">
              <option *ngFor="let sortOptionEntry of sortOptions"
                      [ngValue]="sortOptionEntry">{{sortOptionEntry.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-4 mr-2 mr-md-3">
        <div class="form-row">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputTags"><i class="fa fa-search mr-1" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="articleFilter.tags" name="tags" (keyup.enter)="onSetFilter()" aria-label="inputTags" aria-describedby="inputTags">
          </div>

        </div>
      </div>

      <div class="col-md-4 form-check ml-md-3 mr-md-3 mb-3 mb-md-0">
        <div class="form-row ml-3">
          <input id="inputMyPublications" type="checkbox" [(ngModel)]="articleFilter.selectPublishedArticles" name="inputMyPublications" (change)="onPublicationRervationCBChange($event)" class="form-check-input form-control-sm">
          <label for="inputMyPublications" class="form-check-label">Meine Publikationen</label><br/>
        </div>
        <div class="form-row ml-3">
          <input id="inputMyReservations" type="checkbox" [(ngModel)]="articleFilter.selectReservedArticles" name="inputMyReservations" (change)="onPublicationRervationCBChange($event)" class="form-check-input form-control-sm">
          <label for="inputMyReservations" class="form-check-label">Meine Reservationen</label>
        </div>
      </div>

      <div class="col-md-3">
        <button id="buttonFilter" type="button" class="btn btn-info btn-sm mt-md-2 mr-3" (click)="onSetFilter()"><i class="fa fa-filter mr-2"></i>Filtern</button>
        <button id="buttonReset" type="button" class="btn btn-outline-info btn-sm mt-md-2" (click)="onResetFilter()">
          <i class="fa fa-filter mr-2"><i class="fa fa-times"></i></i>Reset</button>
      </div>

    </div>
  </form>

  <div class="card-body">
    <div class="card" *ngFor="let article of articles">
      <div class="card-body">
        <div class="row">

          <div class="col-md-5">
            <h4 class="card-title">{{ article.name }}</h4>
            <img class="card-img" style="height: 250px; width: auto; cursor: pointer" src="{{ article.pictureOverview }}" alt="Bild"  (click)="onArticleDetails(article)">
            <div>
              <button class="btn btn-info btn-sm mt-2 mr-2" (click)="onArticleDetails(article)"><i class="fa fa-info-circle fa-lg mr-2"></i>Details</button>
              <button *ngIf="article.publisher._id === currentUser._id && article.status._id !== ArticleStatusType.donated"
                  class="btn btn-info btn-sm mt-2 mr-2" (click)="onGiveAway(article)"><i class="fa fa-gift fa-lg mr-2"></i>Verschenken</button>
              <button *ngIf="article.publisher._id === currentUser._id"
                  class="btn btn-outline-secondary btn-sm mt-2" (click)="onEdit(article)"><i class="fa fa-edit fa-lg mr-2"></i>Bearbeiten</button>
            </div>
          </div>

          <div class="col-md-7">
            <div class="form-group">
              <div class="card-title">{{ article.status ? article.status.name : '' }}</div>
              <div class="card-title">{{ article.description }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-pager [pager]="pager" (setPage)="onSetPage($event)"></app-pager>

</div>

