<h3 class="card-title">Artikel Übersicht</h3>
<div class="card">
  <form class="form pt-3 pb-2 pr-2" #searchForm="ngForm">
    <div class="form-row">

      <div class="col-md-4 mr-3">
        <div class="form-row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="articleCategory"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span>
            </div>
            <select name="articleCategory" [(ngModel)]="articleService.articleFilter.category" (change)="onSetFilter()"
                    class="form-control form-control-sm" aria-label="articleCategory" aria-describedby="articleCategory">
              <option *ngFor="let categoryEntry of articleService.articleCategories"
                      [ngValue]="categoryEntry">{{categoryEntry.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-4 mr-3">
        <div class="form-row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="articleStatusEntry"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
            </div>
          <select name="articleStatusEntry" [(ngModel)]="articleService.articleFilter.status" (change)="onSetFilter()"
                  class="form-control form-control-sm" aria-label="articleStatusEntry" aria-describedby="articleStatusEntry">
            <option *ngFor="let statusEntry of articleService.articleStatus"
                    [ngValue]="statusEntry">{{statusEntry.name}}
            </option>
          </select>
          </div>
        </div>
      </div>

      <div class="col-md-3 mr-3">
        <div class="form-row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="sortOption"><i class="fa fa-sort-alpha-asc mr-1" aria-hidden="true"></i></span>
            </div>
            <select name="sortOption" [(ngModel)]="articleService.articleFilter.sort" (change)="onSetFilter()"
                    class="form-control form-control-sm" aria-label="sortOption" aria-describedby="sortOption">
              <option *ngFor="let sortOptionEntry of articleService.sortOptions"
                      [ngValue]="sortOptionEntry">{{sortOptionEntry.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-4 mr-3 mt-md-1">
        <div class="form-row">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputTags"><i class="fa fa-search mr-1" aria-hidden="true"></i></span>
            </div>
            <input name="tags" type="text" [(ngModel)]="articleService.articleFilter.tags" (keyup.enter)="onSetFilter()"
                   placeholder="Suchbegriffe eingeben" class="form-control form-control-sm" aria-label="inputTags" aria-describedby="inputTags">
          </div>

        </div>
      </div>

      <div class="col-md-4 form-check ml-md-3 mr-1 mr-md-0 mb-3 mb-md-0">
        <div class="form-row ml-3 ml-md-0">
          <input id="myPublicationsInput" type="checkbox" [(ngModel)]="articleService.articleFilter.selectPublishedArticles"
                 class="form-check-input" name="myPublicationsInput" (change)="onPublicationReservationCBChange($event)">
          <label for="myPublicationsInput" class="form-check-label">Meine Publikationen</label><br/>
        </div>
        <div class="form-row ml-3 ml-md-0">
          <input id="myReservationsInput" type="checkbox" [(ngModel)]="articleService.articleFilter.selectReservedArticles"
                 class="form-check-input" name="myReservationsInput" (change)="onPublicationReservationCBChange($event)">
          <label for="myReservationsInput" class="form-check-label">Meine Reservationen</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-row">
          <button id="filterButton" type="button" class="btn btn-info btn-sm mt-md-2 mr-3" (click)="onSetFilter()"><i class="fa fa-filter mr-2"></i>Filtern</button>
          <button id="resetButton" type="button" class="btn btn-outline-info btn-sm mt-md-2" (click)="onResetFilter()" title="Reset">
            <i class="fa fa-filter mr-2"><i class="fa fa-times"></i></i><span class="d-md-none d-lg-inline-block">Reset</span></button>
        </div>
      </div>

    </div>
  </form>

  <div class="spinner-container" *ngIf="articleService.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <div class="card-body" *ngIf="authService.currentUser">
    <div class="card" *ngFor="let article of articleService.articles$ | async">
      <div class="card-body">
        <div class="row">

          <div class="col-md-5 mb-3 mb-md-0">
            <h4 class="card-title">{{ article.name }}</h4>
            <div *ngIf="article.overviewImage; else noImageTemplate">
              <img class="img-fluid cursor-pointer"
                   src="{{ imageUrlBackend }}/{{ article._id }}/{{ article.overviewImage }}" alt="Bild" (click)="navService.gotoArticleDetailsPage(article._id)">
            </div>
            <ng-template #noImageTemplate>
              <img class="img-fluid cursor-pointer"
                   src="{{ imageUrlFrontend }}/{{ defaultImage }}" alt="Bild" (click)="navService.gotoArticleDetailsPage(article._id)">
            </ng-template>
              <div>
              <button class="btn btn-info btn-sm mt-2 mr-2" (click)="navService.gotoArticleDetailsPage(article._id)"><i class="fa fa-info-circle fa-lg mr-2"></i>Details</button>
              <button *ngIf="article.status._id !== ArticleStatusType.donated && (authService.isPublisher(article) || authService.canDonateOtherArticle) "
                  class="btn btn-info btn-sm mt-2 mr-2" (click)="navService.gotoArticleGiveAwayPage(article._id)"><i class="fa fa-gift fa-lg mr-2"></i>Verschenken</button>
              <button *ngIf="authService.canUpdateArticle(article) || authService.canDeleteArticle(article)"
                  class="btn btn-outline-secondary btn-sm mt-2" (click)="navService.gotoArticleEditPage(article._id)"><i class="fa fa-edit fa-lg mr-2"></i>Bearbeiten</button>
            </div>
          </div>

          <div class="col-md-7">
            <div class="form-group">
              <div class="card-title">
                <span [ngClass]="{ 'alert': true,
                  'alert-info': article.status._id === ArticleStatusType.available,
                  'alert-warning': article.status._id === ArticleStatusType.handoverPending,
                  'alert-secondary': article.status._id === ArticleStatusType.donated
                  }">{{ article.status ? article.status.name + ' ' : '' }}</span>
                <span *ngIf="article.userHasReservation && article.status._id !== ArticleStatusType.donated" class="alert alert-success">Reserviert</span>
              </div>
              <br/>
              <div class="card-title newlines">{{ article.description }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-pager [pager]="articleService.pager" (setPage)="onSetPage($event)"></app-pager>

</div>

