.header, .mainMenu, .content, .footer {
  border: 1px solid #2C3E50;
  border-radius: 0.2rem;
}

.header, .footer {
  text-align: center;
  color: white;
  background: #02bceb;
}

.sidebar, .content {
  padding: 1rem;
}
