<div container-fluid>
  <div class="row mx-xs-0 mx-md-3">
    <div class="col-xl-10 offset-xl-1">

      <div class="row">
        <div class="col-sm-12">
          <header class="header">
            <app-header></app-header>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <nav class="mainMenu">
            <app-navbar></app-navbar>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <main class="content">
            <router-outlet></router-outlet>
          </main>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <footer class="footer">
            <app-messages></app-messages>
          </footer>
        </div>
      </div>

    </div>
  </div>
</div>
