<div container-fluid>

  <div class="row">

    <div class="col-sm-12 order-1">
      <header class="header">
        <h1>Give It Away - <small>Verschenken Sie, wa Sie nicht mehr brauchen !</small></h1>
      </header>
    </div>

    <div class="col-sm-12 order-2">
      <nav class="mainMenu">
        <app-navbar></app-navbar>
      </nav>
    </div>

    <div class="col-sm-12 col-md-3 order-3">
      <nav class="subMenu">
        Untermenü
      </nav>
    </div>

    <div class="col-sm-12 order-4 col-md-3 order-md-5">
      <aside class="sidebar">
        Sidebar
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem.
      </aside>
    </div>

    <div class="col-sm-12 order-5 col-md-6 order-md-4">
      <main class="content">
        Content Bereich
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </main>
    </div>

    <div class="col-sm-12 order-6">
      <footer class="footer">
        Copyright 2018
      </footer>
    </div>

  </div>
</div>
















