<div class="p-3 border border-secondary mat-elevation-z8">

  <div class="mt-1">
    <span *ngIf="editMode !== EditModeType.Read">
      <button type="button" (click)="onAddArticle()" [disabled]="editMode === EditModeType.Read || !authService.canCreateOwnArticle" class="btn btn-sm btn-success mr-3 mb-2" title="Artikel hinzufügen">
         <i class="fa fa-plus mx-3 mx-sm-1"></i><span class="d-none d-sm-inline-block">Neu</span></button>&nbsp;

      <button type="button" (click)="onDeleteArticle()" *ngIf="editMode === EditModeType.Update || editMode === EditModeType.Delete" [disabled]="!articleItemSvc.canDeleteArticle" class="btn btn-sm btn-danger mr-3 mr-md-5 mb-2"  title="Artikel entfernen">
         <i class="fa fa-trash mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Entfernen</span></button>

      <button type="button" (click)="onSaveArticle()" [disabled]="editMode === EditModeType.Read || !authService.canSaveArticle || !articleForm.valid || articleForm.pristine" class="btn btn-sm btn-dark mr-3 mb-2" title="Speichern">
        <i class="fa fa-floppy-o mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Speichern</span></button>&nbsp;

      <button type="button" (click)="onRevert()" [disabled]="editMode === EditModeType.Read || articleForm.pristine" class="btn btn-sm btn-secondary mr-3 mb-2" title="Änderungen verwerfen">
        <i class="fa fa-times mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Verwerfen</span></button>
    </span>
    <button type="button" (click)="onGoBack()" class="btn btn-sm btn-outline-primary mr-3 mb-2" title="Zurück">
      <i class="fa fa-arrow-left mx-3 mx-sm-1" aria-hidden="true"></i><span class="d-none d-sm-inline-block">Zurück</span></button>
  </div>

  <hr>

  <form [formGroup]="articleForm" class="p-0 mt-3">

    <div class="card">
      <div class="card-header"><h5>Artikel</h5></div>
      <div class="card-body">

        <div class="form-group row">
          <label for="nameInput" class="col-sm-3 col-form-label">Artikel Bezeichnung:</label>
          <div class="col-sm-9">
            <input id="nameInput" #articleNameInput required type="text" class="form-control form-control-sm" formControlName="name">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Die Artikel Bezeichnung muss eingegeben werden.</div>
          </div>
        </div>

        <div class="form-group row">
          <label for="selectArticleCategory" class="col-sm-3 col-form-label">Kategorie:</label>
          <div class="col-sm-9">
            <select id="selectArticleCategory" class="form-control form-control-sm" formControlName="category">
              <option *ngFor="let categoryEntry of articleCategories"
                      [ngValue]="categoryEntry">{{categoryEntry.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="selectArticleStatus" class="col-sm-3 col-form-label" [title]="articleItemSvc.getArticleStatusHoverText()">Status: <i class="fa fa-info-circle" aria-hidden="true"></i></label>
          <div class="col-sm-9">
            <select id="selectArticleStatus" class="form-control form-control-sm" formControlName="status">
              <option *ngFor="let articleStatusEntry of articleStatus"
                      [ngValue]="articleStatusEntry">{{articleStatusEntry.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="textareaDescription" class="col-sm-3 col-form-label">Beschreibung:</label>
          <div class="col-sm-9">
            <textarea id="textareaDescription" required rows="4" class="form-control form-control-sm" formControlName="description"
                      placeholder="Detailinformationen zum Artikel, dessen Zustand, weshalb dieser verschenkt werden soll, etc."></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Die Beschreibung muss eingegeben werden.</div>
          </div>
        </div>

        <div class="form-group row">
          <label for="textareaHandover" class="col-sm-3 col-form-label">Übergabe:</label>
          <div class="col-sm-9">
            <textarea id="textareaHandover" required rows="4" class="form-control form-control-sm" formControlName="handover"
                      placeholder="Wie soll die Übergabe erfolgen ?"></textarea>
            <div [hidden]="handover.valid || handover.pristine" class="alert alert-danger">Die Übergabe muss beschrieben werden.</div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputTags" class="col-sm-3 col-form-label">Suchbegriffe:</label>
          <div class="col-sm-9">
            <input id="inputTags" type="text" class="form-control form-control-sm" formControlName="tags">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputOverviewImage" class="col-sm-3 col-form-label">Übersichts-Bild:</label>
          <div class="col-sm-9">
            <input #singleFileInput class="d-none" type="file" accept="image/*" (change)="onOverviewImageFileSelected(singleFileInput)">
            <button type="button" (click)="singleFileInput.click()" [disabled]="!isEditableArticle" class="btn btn-sm btn-info mb-3">
              <i class="fa fa-image mr-3"></i>Übersichts-Bild hinzufügen</button>
            <div class="input-group">
              <input id="inputOverviewImage" readonly (mouseover)="onOverviewImageHover()" type="text" class="form-control form-control-sm" formControlName="overviewImage">
              <button type="button" (click)="onDeleteOverviewImage()" [disabled]="!isEditableArticle" class="btn btn-sm pull-right" title="Eintrag löschen" ><i class="fa fa-trash fa-lg"></i></button>
            </div>
          </div>
        </div>

        <div formArrayName="additionalImages" class="row">
          <label class="col-sm-3 col-form-label">Weitere Bilder</label>
          <div class="col-sm-9">
            <input #multipleFileInput class="d-none" type="file" accept="image/*" (change)="onAdditionalImageFilesSelected(multipleFileInput)" multiple>
            <button type="button" (click)="multipleFileInput.click()" [disabled]="!isEditableArticle" class="btn btn-sm btn-info mb-3">
              <i class="fa fa-image mr-3"></i>Weitere Bilder hinzufügen</button>

            <div class="form-group" *ngFor="let picture of additionalImagesFormArray.controls; let i = index">
              <div class="input-group">
                <input type="url" readonly (mouseover)="onAdditionalImageHover(i)" class="form-control form-control-sm" [formControlName]="i">
                <button type="button" (click)="onDeleteAdditionalImage(i)" [disabled]="!isEditableArticle" class="btn btn-sm pull-right" title="Eintrag löschen"><i class="fa fa-trash fa-lg"></i></button>
              </div>
            </div>
            <br/>
            <div *ngIf="hoveredImageUrl" >
              <img class="card-img mb-3 img-fluid" src="{{hoveredImageUrl}}" alt="Bild"
                   (error)="onImageLoadError()">
            </div>
            </div>
        </div>

      </div>
    </div>
    <br/>

    <div *ngIf="editMode !== EditModeType.Create">
      <div class="card p-0">
        <h5 class="card-header">Schenkung</h5>
        <div class="card-body">

          <div class="form-row">
            <div class="col-sm">
              <div formGroupName="donee">
                <div class="form-group">
                  <label for="inputDonee">Verschenkt an:</label>
                  <input id="inputDonee" readonly class="form-control form-control-sm" placeholder="{{ articleForm.get('donee.fullname').value }}">
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="form-group">
                <label for="inputDonationDate">Schenkungs-Datum:</label>
                <input id="inputDonationDate" readonly class="form-control form-control-sm" placeholder="{{ articleForm.get('donationDate').value | date:'dd.MM.yyyy' }}">
              </div>

            </div>
          </div>

        </div>
      </div>
      <br>

      <div class="card p-0">
        <h5 class="card-header">Publikation</h5>
        <div class="card-body">

          <div class="form-row">
            <div class="col-sm">
              <div formGroupName="publisher">
                <div class="form-group">
                  <label for="inputPublisher">Publiziert von:</label>
                  <input id="inputPublisher" readonly class="form-control form-control-sm" placeholder="{{ articleForm.get('publisher.fullname').value }}">
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <label for="inputCreatedAt">Erfasst am:</label>
                  <input id="inputCreatedAt" readonly class="form-control form-control-sm"
                         placeholder="{{ articleForm.get('createdAt').value | date:'dd.MM.yyyy  HH:mm:ss' }}">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm">
              <div class="form-group">
                <label for="inputUpdatedAt">Aktualisiert am:</label>
                <input id="inputUpdatedAt" readonly class="form-control form-control-sm" placeholder="{{ articleForm.get('updatedAt').value | date:'dd.MM.yyyy  HH:mm:ss' }}">
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <label for="input_id">Id:</label>
                <input id="input_id" readonly class="form-control form-control-sm" placeholder="{{ articleForm.get('_id').value}}">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </form>

  </div>


<!-- Debug messages
<hr>
<p>Debug Infos:<p>
<p>Form value: {{ articleForm.value | json }}<p>
<p>Form pristine: {{ articleForm.pristine | json }}</p>
<p>Form status: {{ articleForm.status | json }}</p>
<p>EditMode: {{ editMode }}</p>
<p>Invalid controls: {{getInvalidControls()}}</p>
<p>Form editable: {{isEditableArticle}}</p>

-->
