<h3 class="card-title">Benutzerverwaltung</h3>

<div class="row">
  <div class="col-lg-6">

    <div class="card p-3 border border-secondary mat-elevation-z8">
      <div class="card-header align-middle">
        <h5>Benutzer Übersicht</h5>
      </div>

      <mat-form-field class="mt-2">
        <input matInput placeholder="Benutzer suchen" #filterInput>
      </mat-form-field>

      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="table table-hover mat-elevation-z8"
                   matSort matSortActive="lastname" matSortDirection="asc" matSortDisableClear>
          <caption>List of users</caption>

          <ng-container matColumnDef="_id">
            <th *matHeaderCellDef>id</th>
            <td *matCellDef="let user">
              <label title="{{user._id}}"><i class="fa fa-info" aria-hidden="true"></i></label>
            </td>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <th *matHeaderCellDef mat-sort-header>Vorname</th>
            <td *matCellDef="let user">{{user.firstname}}</td>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <th *matHeaderCellDef mat-sort-header>Nachname</th>
            <td *matCellDef="let user">{{user.lastname}}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th *matHeaderCellDef mat-sort-header>E-Mail</th>
            <td *matCellDef="let user">{{user.email}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="thead-light"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)" [ngClass] = "{'highlight' : selectedUser.email == row.email}"></tr>

        </table>
      </div>

      <mat-paginator [length]="userFilter.total" [pageSize]="userFilter.limit"
                     [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
    </div>

  </div>

  <div class="col-lg-6">

    <app-user [selectedUser]="selectedUser" (dataChanged)="onDataChanged()"></app-user>

  </div>

</div>

