<nav class="navbar navbar-expand-sm py-0 navbar-custom navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon custom-toggler"></span>
  </button>
  <div class="collapse navbar-collapse flex-column" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Artikel Übersicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Artikel verschenken</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Testseite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-5" href="#">Registrieren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Anmelden</a>
      </li>
    </ul>

    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" href="#">Untermenü 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Untermenü 2</a>
      </li>
    </ul>

  </div>
</nav>

