<nav class="navbar navbar-expand-sm py-0 navbar-custom navbar-dark bg-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon custom-toggler"></span>
  </button>
  <div class="collapse navbar-collapse flex-column" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/articleOverview">Artikel Übersicht</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/articleNew">Artikel verschenken</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard">Tutorial-Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/test1">Testseite 1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/test1Detail/11">Testseite 1 - Details</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link ml-5" routerLink="/register">Registrieren</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Anmelden</a>
      </li>
    </ul>

    <ul class="navbar-nav w-100">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/test2">Untermenü 1</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/test3">Untermenü 2</a>
      </li>
    </ul>

  </div>
</nav>
